// site colors
$blk: #000;
$white: #fff;
$red: #d95457;
$grey: #404040;

// site fonts
$sans-serif: "Jost", sans-serif;
$serif : "Zilla Slab", serif;

// css icons
$google-icons : 'Material Symbols Outlined';

// transitions
$transition-fast : all 0.3s ease-in-out;
$transition-medium: all 0.5s ease-in-out;
$transition-slow : all 0.8s ease-in-out;